.header {
    position: absolute;
    margin: -auto;
    width: 100%;
    background-color: darkred;
}

.hed {
    border-color: black;
    width: 100%;
    margin-top: -10px;
    margin-left: -3px;
}

iframe{
    border-width: 0;
    border-style: none;
    border-color: white;
    border-image: none;
    width: 100%;
}

h1{
    position: relative;
    font-size: 300%;
    margin-top: 50px;
    text-align: center;
}
body{
    margin: 0px;
    background-color: lightsteelblue;
}
