table {
    width: 60%;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-transform: capitalize;
    margin-left: 275px;
}

tbody tr:nth-of-type(odd) {
    background-color: #E1E1E1;
}

td, th {
    padding: 1em;
}

td.real:before {
    content: 'R$';
}

tfoot tr {
    background-color: #333;
    color: #fff;
}


.id{
    position: absolute;
    margin-left: 20px;
}

.idCat{
    position: absolute;
    margin-left: 70px;

}

.nomeCategoria{
    position: absolute;
    margin-left: 230px;
}

.nomeCat{
    position: absolute;
    margin-left: 280px;
}

.excluirLivro{
    position: absolute;
    margin-left: 535px;
}

.alterarLivro{
    position: absolute;
    margin-left: 650px;
}

a.ex:link {
    position: absolute;
    margin-left: 535px;
    margin-top: -10px;
    position: absolute;
    color: darkred;
    text-decoration: none;
}

a.ex:visited {
    text-decoration: none;
    color: darkred;
}

a.ex:hover {
    text-decoration: none;
    color: darkred;
}

a.ex:active {
    text-decoration: none;
    color: darkred;
}

a.alt:link {
    position: absolute;
    margin-left: 240px;
    margin-top: -10px;
    position: absolute; 
    color: darkred;
    text-decoration: none;
}

a.alt:visited {
    text-decoration: none;
    color: darkred;
}

a.alt:hover {
    text-decoration: none;
    color: darkred;
}

a.alt:active {
    text-decoration: none;
    color: darkred;
}