h2{
    text-align: center;
    margin-top: 90px;     
}

#alt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13;
    width: 165px;
    height: 35px;
    background-color: #0066b8;
    padding: 9px 50px;
    border: none;
    color: white;
    width: 340px;
}

a#cad:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13;
    width: 165px;
    height: 35px;
    background-color: #0066b8;
    padding: 9px 50px;
    border: none;
    color: black;
    width: 340px;
    text-decoration: none;
}

a#cad:visited {
    text-decoration: none;
    color: black;
}

a#cad:hover {
    text-decoration: none;
    color: black;
}

a#cad:active {
    text-decoration: none;
    color: black;
}

a#ex:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13;
    width: 165px;
    height: 35px;
    background-color: #0066b8;
    padding: 9px 50px;
    border: none;
    color: black;
    width: 340px;
    text-decoration: none;
}

a#ex:visited {
    text-decoration: none;
    color: black;
}

a#ex:hover {
    text-decoration: none;
    color: black;
}

a#ex:active {
    text-decoration: none;
    color: black;
}

a#del:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13;
    width: 165px;
    height: 35px;
    background-color: #0066b8;
    padding: 9px 50px;
    border: none;
    color: black;
    width: 340px;
    text-decoration: none;
}

a#del:visited {
    text-decoration: none;
    color: black;
}

a#del:hover {
    text-decoration: none;
    color: black;
}

a#del:active {
    text-decoration: none;
    color: black;
}

.buttonsLivro{
    margin-top: 50px;
    text-align: center;
}